body {
  margin: 0;
}

.navbar {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 96px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 5px;
}

.navbar-item a {
  text-decoration: none;
  color: black;
}

.navbar-login {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 8px;
}

.login-link-button {
  text-decoration: none;
  color: black;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
}

.login-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.message {
  border: 1px solid black;
  border-radius: 8px;
  padding: 6px;
}

/* Messages */
.message.success {
  background-color: lightgreen;
  color: black;
}

.message.success::before {
  content: "Success: ";
  font-weight: bold;
}

.message.error {
  background-color: lightcoral;
  color: black;
}

.message.error::before {
  content: "Error: ";
  font-weight: bold;
}

.message.warning {
  background-color: lightyellow;
  color: black;
}

.message.warning::before {
  content: "Warning: ";
  font-weight: bold;
}

.navbar-login-user {
  padding: 0px 8px;
  margin: 0;
  color: green;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
