html {
  height: 100%;
}

body {
  margin: 0;
}

.navbar {
  margin-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 96px;
  background-color: #e7e7e7;
  border-radius: 8px;
  padding: 5px;
}

.navbar-item a {
  text-decoration: none;
  color: black;
}

/* Login */
.navbar-login {
  display: flex;
  flex-direction: row;
  padding: 8px;
  border-radius: 8px;
}

.login-link-button {
  text-decoration: none;
  color: black;
  padding: 8px;
  background-color: #e7e7e7;
  border-radius: 8px;
}

.login-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.login-button {
  background-color: #6fb554;
  border-radius: 24px;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.login-input {
  padding: 12px;
  border-radius: 24px;
  border: none;
  background-color: #e7e7e7;
}

.login-input::placeholder {
  color: #c2c2c2;
  text-transform: capitalize;
}

.login-input:focus {
  outline: none;
}

/* Messages */
.message {
  margin: 0;
  border-radius: 8px;
  padding: 6px 12px;
}

.message.success {
  background-color: lightgreen;
  color: black;
}

.message.success::before {
  content: "Success: ";
  font-weight: bold;
}

.message.error {
  background-color: lightcoral;
  color: black;
}

.message.error::before {
  content: "Error: ";
  font-weight: bold;
}

.message.warning {
  background-color: lightyellow;
  color: black;
}

.message.warning::before {
  content: "Warning: ";
  font-weight: bold;
}

.navbar-login-user {
  padding: 0px 8px;
  margin: 0;
  color: green;
}

.navbar-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.url-table {
  width: 100%;
  border-collapse: collapse;
}

.url-table th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.url-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.url-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.url-table tr:hover {
  background-color: #ddd;
}

.url-table th {
  background-color: #747474;
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center-container {
  margin-top: 48px;
  background-color: #f2f2f2;
  padding: 16px;
  border-radius: 8px;
}

.center-container h2 {
  margin: 0;
  margin-bottom: 8px;
}

.generate-url-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.copy-button {
  width: 100%;
  background-color: #6fb554;
  border-radius: 24px;
  border: none;
  color: white;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
