<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{%block title%}URL Shortener{%endblock%}</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favico.png') }}"
    />
  </head>

  <body>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <p class="message {{ category }}">{{ message }}</p>
    {% endfor %}

    <div class="navbar">
      <div class="navbar-buttons">
        <div class="navbar-item">
          <a href="{{ url_for('index') }}">Home</a>
        </div>
        <div class="navbar-item">
          <a href="{{ url_for('my_urls') }}">My URLs</a>
        </div>
      </div>

      <div class="navbar-login">
        {% if 'user' in session %}
        <p class="navbar-login-user">{{session['user']}}</p>
        {% endif %}

        <div class="navbar-login-buttons">
          {% if 'user' in session %}
          <a class="login-link-button" href="{{ url_for('logout') }}">Logout</a>
          {% else %}
          <a class="login-link-button" href="{{url_for('login')}}">Login</a>
          <a class="login-link-button" href="{{ url_for('registration') }}"
            >Register</a
          >
          {% endif %}
        </div>
      </div>
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
